.main-screen {
  margin-bottom: $m-bottom;
}
.header__item {
  &.col-5 {
    justify-content: center;
  }
  &.col-3 {
    justify-content: end;
  }
}
.header-row {
  position: relative;
}
.nav {
  &__ul {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__li {
  }
  &__a {
    @include text($font-base, 400, 1.6rem, 1.9rem, $color-black);
    transition: $transition;

    position: relative;
    &::before {
      opacity: 0;
      content: "";
      position: absolute;
      background-color: $color-primary;
      height: 0.1rem;
      width: calc(100% - 12px);
      bottom: -0.3rem;
      left: 50%;
      transform: translateX(-50%);
      transition: $transition;
    }

    &:hover {
      color: $color-primary;
      &::before {
        opacity: 1;
      }
    }
    &.nav__a_active {
      color: $color-primary;
      font-weight: 600;
    }
  }
}

.search {
  position: relative;
  &__input {
    width: 100%;
    background-color: $color-black;
    border-radius: 5rem;
    padding: 1.3rem 1.8rem;
    padding-right: 4rem;
    @include text($font-base, 400, 1.4rem, 1.6rem, $color-white);
    border: 0;
    outline: 0;
    &::placeholder {
      color: rgba($color-white, 0.7);
    }
  }

  &__icon {
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.logo {
  @include text($font-base, 600, 2.4rem, 2.8rem, $color-dark);
}

.slider {
  &__item {
    border-radius: 3rem;
    img {
      border-radius: 3rem;
    }
  }
}
#html .owl-theme {
  .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 2.5rem;
    transform: translateX(-50%);
    height: 2rem;
    .owl-dot {
      span {
        background-color: $color-dark;
      }

      &.active {
        span {
          background-color: $color-primary;
        }
      }
    }
  }
}
.row {
  align-items: center;
}

.title {
  @include text($font-base, 700, 4.8rem, 5.6rem, $color-dark);
  margin: 0 auto;
  margin-bottom: 5.6rem;
  text-align: center;
}
.description {
  max-width: 83.7rem;
  @include text($font-base, 400, 1.6rem, 1.9rem, $color-dark);
  margin: 0 auto;
  text-align: center;
  margin-bottom: $m-bottom;
}
.services {
  margin-bottom: $m-bottom;
}
.service-row {
  justify-content: center;
  align-items: center;
}

.item {
  margin-bottom: 2rem;
  max-width: 37rem;
  background-color: $color-cards;
  border-radius: $b-radius;
  padding: 4.6rem 2.6rem 5.1rem 2.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
  transition: $transition;
  &:hover {
    background: $color-primary;
  }

  &__icon {
    max-height: 8.9rem;
    margin-bottom: 2.75rem;
    color: $color-dark;
  }

  &__title {
    @include text($font-base, 600, 2.4rem, 2.8rem, $color-dark);
    margin-bottom: 1.7rem;
    &:hover {
      color: $color-white;
    }
  }

  &__description {
    text-align: center;
    margin-bottom: 1.7rem;
    @include text($font-base, 400, 1.6rem, 1.9rem, $color-desc);
    max-width: 31.7rem;
    &:hover {
      color: $color-white;
    }
  }
}

.links {
  margin-bottom: 5rem;

  &__link {
    @include text($font-base, 600, 1.6rem, 1.9rem, $color-primary);
    text-decoration: underline;
    margin-right: 0.2rem;
    &:hover {
      color: $color-white;
    }
  }
}
.specialists {
  margin-bottom: 13rem;
}
.specialists-row {
  margin: 0 auto;
  justify-content: center;
  gap: 2.8rem;
  align-items: center;
}

.block {
  max-width: 37rem;
  background-color: $color-block;
  border-radius: 2rem;
  padding: 5.2rem 3.8rem 3.3rem 3.8rem;

  &__header {
    &_photo {
      float: left;
      margin-right: 1.3rem;
    }
    &_title {
      @include text($font-base, 600, 2rem, 2.3rem, $color-dark);
      margin-bottom: 0.3rem;
    }
    &_subtitle {
      @include text($font-base, 400, 1.6rem, 1.9rem, $color-desc);
      margin-bottom: 3.5rem;
    }
  }
}

.block__description {
  margin-bottom: 2.8rem;
  @include text($font-base, 400, 1.6rem, 1.9rem, $color-desc);
}
.btn {
  display: inline-block;
  background-color: $color-primary;
  border-radius: 5rem;
  border: 0;
  outline: none;
  padding: 1rem 4.9rem;
  cursor: pointer;
  @include text($font-base, 600, 2rem, 2.3rem, $color-white);
  &:hover {
    color: black;
  }
}

.subscription {
  background-color: $bg-dark;
  border-radius: 1rem;
  max-width: 117rem;
  margin: 0 auto;
  padding-bottom: 8rem;

  &-row {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  &__title {
    @include text($font-base, 700, 3.6rem, 4.2rem, $color-white);
    padding-top: 7.8rem;
    padding-bottom: 3.7rem;
  }
  &__input {
    position: relative;
    background-color: $color-cards;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.4rem 2rem 3.1rem;
    &.placeholder {
      color: $p-holder;
    }
    &__btn {
      position: absolute;
      right: 6px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
input {
  border: 0;
  outline: none;
  background-color: $color-cards;
  @include text($font-base, 400, 1.6rem, 1.9rem, $color-dark);
  width: 35rem;
}
footer {
  background-color: $color-cards;
  padding-top: 10.6rem;
  padding-bottom: 7.7rem;
  margin-top: 13rem;
  border-radius: 1rem;
}
.footer-wrapper {
  max-width: 117rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: start;
  gap: 10.7rem;
}
.about {
  flex: 0 1 43rem;
  &__title {
    @include text($font-base, 600, 2.4rem, 2.8rem, $color-dark);
    margin-bottom: 2.6rem;
  }
  &__description {
    @include text($font-base, 400, 1.6rem, 1.9rem, $color-dark);
  }
}
.contacts {
  &__title {
    @include text($font-base, 600, 2rem, 2.3rem, $color-dark);
    margin-bottom: 0.9rem;
  }
  &__description {
    display: inline-block;
    margin-right: 1.6rem;
    @include text($font-base, 400, 1.6rem, 1.9rem, $color-dark);
    margin-bottom: 3.3rem;
  }
}
.schedule {
  &__title {
    @include text($font-base, 600, 2rem, 2.3rem, $color-dark);
    margin-bottom: 1.7em;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    @include text($font-base, 400, 1.6rem, 1.9rem, $color-dark);
  }
}

@media (max-width: 1200px) {
  .nav {
    display: none;
  }
  .item {
    width: 100%;
  }
  footer {
    margin-top: 5rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }
  .footer-wrapper {
    flex-wrap: wrap;
    text-align: center;
    gap: 4rem;
  }
}
@media (max-width: 992px) {
  .item {
    margin-right: 0;
  }
  .subscription__title {
    text-align: center;
  }
  .subscription__input {
    padding: 2rem 1.4rem 2rem 1rem;
  }
  .subscription__btn {
    padding: 1rem 1.2rem;
  }
  input {
    width: 20rem;
  }
  .footer-item {
    margin-bottom: 2rem;
  }
}

@media (max-width: 720px) {
  input {
    width: 17rem;
  }
}
/*не готове закриття
label {
  display: none;
}
#menu {
  display: none;
}
#nav {
  display: none;
}

@media (max-width: 992px) {
  label {
    display: block;
    position: absolute;
    left: 0;
    transform: translateY(6rem);
  }
  #menu:checked ~ #nav {
    display: block;
    transform: translateX(0);
  }

  #nav {
    position: absolute;
    transform: translateY(8rem);
    border-radius: 5px;
    /*background-color: gray;
    height: 500%;
    opacity: 0.3;
  }
  .burger {
    color: black;
    font-size: 30px;
    display: block;
    text-align: center;
    transition: $transition;
    &:hover {
      text-decoration: underline;
    }
  }
}*/
