$transition: 0.3s all ease-and-out;
$font-base: "Work Sans", sans-serif;
$color-dark: #262626;
$color-black: #000;
$color-primary: #8842f0;
$color-white: #fff;
$color-cards: #f9f1fe;
$color-desc: #575757;
$color-block: #f9f1fe;
$bg-dark: #1c1b1f;
$p-holder: #6c6c6c;
$b-radius: 1.5rem;
$m-bottom: 11rem;
