*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

body {
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 10px;
}

.main-screen {
  margin-bottom: 11rem;
}

.header__item.col-3 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header-row {
  position: relative;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
}
.nav__a {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #000;
  -webkit-transition: 0.3s all ease-and-out;
  transition: 0.3s all ease-and-out;
  position: relative;
}
.nav__a::before {
  opacity: 0;
  content: "";
  position: absolute;
  background-color: #8842f0;
  height: 0.1rem;
  width: calc(100% - 12px);
  bottom: -0.3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s all ease-and-out;
  transition: 0.3s all ease-and-out;
}
.nav__a:hover {
  color: #8842f0;
}
.nav__a:hover::before {
  opacity: 1;
}
.nav__a.nav__a_active {
  color: #8842f0;
  font-weight: 600;
}

.search {
  width: 100%;
  position: relative;
}
.search__input {
  width: 100%;
  background-color: #000;
  border-radius: 5rem;
  padding: 1.3rem 1.8rem;
  padding-right: 4rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #fff;
  border: 0;
  outline: 0;
}
.search__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search__input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search__icon {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.logo {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #262626;
}

.slider__item {
  border-radius: 3rem;
}
.slider__item img {
  border-radius: 3rem;
}

#html .owl-theme .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 2.5rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2rem;
}
#html .owl-theme .owl-dots .owl-dot span {
  background-color: #262626;
}
#html .owl-theme .owl-dots .owl-dot.active span {
  background-color: #8842f0;
}

.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: #262626;
  margin: 0 auto;
  margin-bottom: 5.6rem;
  text-align: center;
}

.description {
  max-width: 83.7rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #262626;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 11rem;
}

.services {
  margin-bottom: 11rem;
}

.service-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pd-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item {
  margin-bottom: 2rem;
  background-color: #f9f1fe;
  border-radius: 1.5rem;
  padding: 4.6rem 2.6rem 5.1rem 2.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all ease-and-out;
  transition: 0.3s all ease-and-out;
}
.item:hover {
  background: #8842f0;
}
.item__icon {
  max-height: 8.9rem;
  margin-bottom: 2.75rem;
  color: #262626;
}
.item__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #262626;
  margin-bottom: 1.7rem;
}
.item__title:hover {
  color: #fff;
}
.item__description {
  text-align: center;
  margin-bottom: 1.7rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #575757;
  max-width: 31.7rem;
}
.item__description:hover {
  color: #fff;
}

.item__icon:hover path {
  fill: #fff;
}

.links {
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.links__link {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #8842f0;
  text-decoration: underline;
  margin-right: 0.6rem;
}
.links__link:hover {
  color: #fff;
}
.links__icon:hover path {
  fill: #fff;
}

.specialists {
  margin-bottom: 13rem;
}

.specialists-row {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block {
  background-color: #f9f1fe;
  border-radius: 2rem;
  padding: 4.4rem 3.8rem 3.3rem 3.8rem;
}
.block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block__top .top__title-name {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #262626;
}
.block__top .top__title-speciality {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #575757;
}

.top {
  margin-bottom: 2.5rem;
}

.block__description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #575757;
  margin-bottom: 2.5rem;
}

.block__btn {
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #8842f0;
  border-radius: 5rem;
  border: 0;
  outline: none;
  padding: 1rem 4.9rem;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #fff;
}
.btn:hover {
  color: black;
}

.subscription {
  background-color: #1c1b1f;
  border-radius: 1rem;
  max-width: 117rem;
  margin: 0 auto;
  padding-bottom: 8rem;
}
.subscription-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 100%;
}
.subscription__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.2rem;
  color: #fff;
  padding-top: 7.8rem;
  padding-bottom: 3.7rem;
}
.subscription__input {
  min-height: 6.4rem;
  position: relative;
  background-color: #f9f1fe;
  border-radius: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.4rem 1rem 3.1rem;
}
.subscription__input.placeholder {
  color: #6c6c6c;
}
.subscription__btn {
  padding: 1rem 2.5rem;
  position: absolute;
  right: 1.4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 0;
  outline: none;
  background-color: #f9f1fe;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #262626;
}

footer {
  background-color: #f9f1fe;
  padding-top: 10.6rem;
  padding-bottom: 7.7rem;
  margin-top: 13rem;
  border-radius: 1rem;
}

.footer-wrapper {
  max-width: 117rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10.7rem;
}

.about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43rem;
          flex: 0 1 43rem;
}
.about__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #262626;
  margin-bottom: 2.6rem;
}
.about__description {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #262626;
}

.contacts__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #262626;
  margin-bottom: 0.9rem;
}
.contacts__description {
  display: inline-block;
  margin-right: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #262626;
  margin-bottom: 3.3rem;
}

.schedule__title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #262626;
  margin-bottom: 1.7em;
}
.schedule__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #262626;
}

.services-container,
.specialists-container,
.subscription__container {
  max-width: 117rem;
}

@media (max-width: 1200px) {
  .nav {
    display: none;
  }

  footer {
    margin-top: 5rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }

  .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    gap: 4rem;
  }

  .pd-x {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .item {
    margin-right: 0;
  }

  .subscription__title {
    text-align: center;
  }

  .footer-item {
    margin-bottom: 2rem;
  }
}
.menu-wrapper {
  position: relative;
  width: 20rem;
  top: 0;
  left: 0;
  display: none;
}

label {
  display: none;
}

#menu {
  display: none;
}

.burger-line {
  position: absolute;
  width: 3rem;
  height: 0.3rem;
  background-color: #000;
  left: 0.5rem;
  z-index: 3;
  -webkit-transition: 0.3s all ease-and-out;
  transition: 0.3s all ease-and-out;
  top: 0.8rem;
}

.second,
.third {
  top: 1.8rem;
}

.fourth {
  top: 2.8rem;
}

.burger__nav {
  position: absolute;
  background-color: #d6d6d6a8;
  width: 30rem;
  padding: 5rem;
  z-index: 2;
  display: none;
  text-align: center;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: 0.3s all ease-and-out;
  transition: 0.3s all ease-and-out;
}

.burger__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.burger__nav a {
  font-size: 2rem;
  text-decoration: underline;
  color: black;
  -webkit-transition: 0.3s all ease-and-out;
  transition: 0.3s all ease-and-out;
}
.burger__nav a:hover {
  color: #8842f0;
}

@media (max-width: 1200px) {
  .menu-wrapper {
    display: block;
  }

  label {
    display: block;
  }
}
#menu:checked ~ .burger__nav {
  display: block;
  -webkit-transition: 0.3s all ease-and-out;
  transition: 0.3s all ease-and-out;
}

label .burger-line:checked ~ .first {
  display: none;
}

label .burger-line:checked ~ .second {
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
}

label .burger-line:checked ~ .third {
  -webkit-transform: rotate(-43deg);
          transform: rotate(-43deg);
}

label .burger-line:checked ~ .fourth {
  display: none;
}

.header {
  padding: 5rem 0;
}
.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
